body {
    font-family: Arial, sans-serif;

    background-image: url("../images/login-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-right: 120px;
}

.login-box {
    background: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 40px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.login-box h2 {
    text-align: center;
    margin-bottom: 25px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    background: #222;
    color: white;
    font-size: 14px;
}

.login-box input::placeholder {
    color: #aaa;
}

button {
    width: 100%;
    padding: 10px;
    background-color: white;
    border: none;
    color: black;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s; 
}

button:hover {
    background-color: #e0e0e0;
}

.error {
    color: red;
    margin-bottom: 10px;
}